* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





body {
  font-family: 'Orbitron', sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  overflow-x: hidden;
  
}


.hero {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-info {
  position: absolute;
  top: 20%;
  left: 60px;
  max-width: 450px;
}

.hero-info h1 {
  font-size: 48px;
  margin: 0 0 10px;
}


.btn {
  width: 260px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 50px;
  cursor: pointer;
}

.play {
  background: rgba(234, 238, 5, 0.73);
  color: black;
}

.download {
  background: #1a1a1a;
  color: rgb(255, 251, 0);
  border: 1px solid #444;
}



.description {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;

}

.description h3 {
  margin: 0 0 10px;
  font-size: 22px;
}

.description p {
  max-width: 700px;
  line-height: 1.6;
  opacity: 0.9;
}