  h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .contenedor {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      flex-direction: column;
      
    }
    .imagen{
      width: 70%;
      height: 80%;
      background-image: url(./img/pp.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }
    .informacion p {
      max-width: 60%;
      text-align: center;
    }

    .informacion{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 20%;
    }



    