* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  overflow-x: hidden;
}
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  position: absolute;
  top: 10px;
  left: 450px;
}





.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #e50914;
  letter-spacing: 2px;
}


.hero-buttons .btn {
  
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin: 0 0.5rem;
  border-radius: 6px;
  font-weight: 600;

}

.btn.primary {
  background-color: #e50914;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}



.btn:hover {
  transform: scale(0.15)
}
a{
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
  background-color: #e50914;
  padding: 10px 10px 10px 10px;
}

